body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-kavoon: Kavoon;
  --font-jockey-one: "Jockey One";
  --font-inknut-antiqua: "Inknut Antiqua";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-black: #000;
  --color-mediumturquoise: #64ccc5;
  --color-teal: #088395;
  --color-darkseagreen: #98c888;

  /* Border radiuses */
  --br-26xl: 45px;
  --br-101xl: 120px;
}
