body{
    background-color: #04364A;
    width: 1440 px;
    height: 1024 px;
}
.header{
    background: #DAFFFB;
    height: 241px;
    width: 1332 px;
    margin: 0px 35px 5px 35px;
}

.header h1 {
    margin-left: 350px;
    margin-bottom: 0;
    text-align: left;
    color: #04364A;
    font-size: 76px;
    font-family: 'Marko One', sans;
}

.header h2 {
    margin-right: 370px;
    margin-top: 0;
    text-align: right;
    color: #176B87;
    font-size: 96px;
    font-family: 'Lobster', cursive;
  }


/* Add a black background color to the top navigation */
.topnav {
  background-color: #176B87;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;    
  border-radius: 45px;
  height: 75px;
  width: 1224px;
  margin: auto;
  padding: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  background-color: #64CCC5;
  color: #000000;
  text-align: center;
  /* padding-left: 22.8px; */
  margin-left: 14.8px;
  text-decoration: none;
  font-family: 'Kavoon', cursive;
  font-size: 20px;
  border-radius: 45px;
  height: 53px;
  width: 222px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #64CCC5;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: black;
}

.topnav a.special {
  display: flex;
  margin-left: 4.8px;
  align-items: center;
  justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    width: 1332px;
}

.image img{
    height: 329px;
    width: 616px;
}

.text{
    background-color: #D9D9D9;
    height: 329px;
    width: 616px;
    margin-right: 30px;
}

.text h2{
    font-family: 'Marko One', sans;
    font-size: 40px;
    font-style: oblique;
    text-align: center;
}

.text p{
    font-family: 'Kavoon', cursive;
    font-size: 18px;
    font-style: oblique;
    text-align: justify;
    margin: 5px 45px 5px 45px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #DAFFFB;
  height: 144px;
  width: 1332 px;
  margin: 15px 35px 5px 35px;
  padding: 16px 16px 8px 16px;
  
}

.address {
  margin: 0px 0pc 0px 0px;
  padding: 0px 0px 0px 25px;
  font-family:'Leckerli One', sans-serif;
  font-style: oblique;
  font-size: 24px;
  /* background-color: red; */
  height: 120px;
  width: 610px;
  padding: 13px 10px 3px 30px;
}

.cellphone {
  margin: 0px 0pc 0px 0px;
  padding: 0px 0px 0px 85px;
  font-family:'Leckerli One', sans-serif;
  font-style: oblique;
  font-size: 24px;
  /* background-color: green; */
  height: 130px;
  width: 610px;
  padding: 3px 10px 3px 30px;
}
