body {
    background-color: #04364A;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.header {
    background: #DAFFFB;
    height: 241px;
    width: 100%;
    margin: 0px 35px 5px 35px;
}

.header h1 {
    margin: 0;
    text-align: left;
    color: #04364A;
    font-size: 36px;
    font-family: 'Marko One', sans-serif;
}

.header h2 {
    margin: 0;
    text-align: right;
    color: #176B87;
    font-size: 48px;
    font-family: 'Lobster', cursive;
}

.topnav {
    background-color: #176B87;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 45px;
    height: 75px;
    margin: 15px 35px;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-family: 'Kavoon', cursive;
    font-size: 20px;
    border-radius: 45px;
}

.topnav a:hover {
    background-color: #64CCC5;
    color: black;
}

.topnav a.active {
    background-color: #ddd;
    color: black;
}

.login_form {
    display: flex;
    justify-content: center;
    background-color: #35A29F;
    height: 290px;
    width: 320px;
    border-radius: 45px;
    padding: 10px 0px 50px 0px;
    margin: 0px auto;
}

.login_form p {
    text-align: center;
    font-family: 'Kavoon', cursive;
    font-size: 28px;
    color: white;
    border-radius: 45px;
    background-color: #000000;
    margin: 0;
    padding: 10px;
}

.login_form label {
    font-family: 'Kavoon', cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    display: block;
    margin: 10px;
}

.login_form input,
.login_form select {
    background-color: #FFF5E0;
    height: 35px;
    width: 100%;
    border-radius: 45px;
    text-align: center;
    border: 1px solid black;
    font-family: 'Kavoon', cursive;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
}

#btn {
    background-color: #64CCC5;
    color: black;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #DAFFFB;
    height: 144px;
    width: 100%;
    margin: 15px 35px 5px 35px;
    padding: 16px;
}

.address,
.cellphone {
    font-family: 'Leckerli One', sans-serif;
    font-style: oblique;
    font-size: 24px;
    height: 120px;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.cellphone {
    padding-left: 20px;
}

